<div class="history-container">
  <div class="header">
    <div class="title">
      <svg [lucideIcon]="HistoryIcon" [size]="20"></svg>
      <h3>URL History</h3>
    </div>
    <p class="description">Track and manage all your shortened links</p>
  </div>
  @if (isStatisticsLoading()) {
    <loading />
  } @else {
    <div class="urls-stats">
      <div class="url-status-item">
        <span class="status-count">{{ shortLinksStatistics().totalLinks }}</span>
        <span class="status-label">Total links</span>
      </div>
      <div class="url-status-item">
        <span class="status-count">{{ shortLinksStatistics().activeLinks }}</span>
        <span class="status-label">Active</span>
      </div>
      <div class="url-status-item">
        <span class="status-count">{{ shortLinksStatistics().disabledLinks }}</span>
        <span class="status-label">Expired</span>
      </div>
    </div>
  }
  <form [formGroup]="urlSearchForm" (ngSubmit)="onSubmit()" class="urls-search">
    <div class="search-input">
      <svg [lucideIcon]="SearchIcon" [size]="16"></svg>
      <input type="text" placeholder="Search URLs..." formControlName="search" />
    </div>
    <div class="search-filter">
      <custom-dropdown
        [items]="linkStatusOptions"
        [fieldValue]="urlSearchForm.value.status ?? linkStatusOptions[0].value"
        [fieldValueDefaultIcon]="FilterIcon"
        (valueChange)="onLinkStatusChange($event)"
      />
    </div>
    <div class="action-btns">
      <button type="submit" class="action-btn search-btn">
        <svg [lucideIcon]="SearchIcon" [size]="16"></svg>
        Search
      </button>
      <button type="button" class="action-btn reset-btn" (click)="onReset()">
        <svg [lucideIcon]="ResetIcon" [size]="16"></svg>
        Reset
      </button>
    </div>
  </form>
  @if (isLoading()) {
    <loading />
  } @else {
    <div class="urls-list">
      @for (shortLink of shortLinks(); track shortLink.id) {
        <url-item [link]="shortLink" (deactivated)="onLinkDeactivated()" />
      } @empty {
        <div class="no-results">
          <svg [lucideIcon]="SearchIcon" [size]="16"></svg>
          <p>No results found</p>
        </div>
      }
    </div>
    <paginator
      [currentPage]="shortLinksPageInfo().number"
      [pageSize]="shortLinksPageInfo().size"
      [totalItems]="shortLinksPageInfo().totalElements"
      [totalPages]="shortLinksPageInfo().totalPages"
      (pageChange)="onPageChange($event)"
    />
  }
</div>
