<form class="url-form" [formGroup]="urlShortenForm" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <span>Your long URL</span>
    <div class="input-with-icon">
      <lucide-icon [img]="LinkIcon" [size]="16"></lucide-icon>
      <input
        type="text"
        placeholder="https://example.com/very/long/url/that/needs/shortening"
        formControlName="longUrl"
      />
    </div>
    <form-error
      [field]="urlShortenForm.controls.longUrl"
      [fieldName]="'longUrl'"
      [errorMessages]="{ required: 'URL is required', invalidUrl: 'Enter a valid URL' }"
    />
  </div>
  <div class="input-field">
    <span>Expiry duration</span>
    <custom-dropdown
      [items]="expiryDurationOptions"
      [fieldValue]="urlShortenForm.value.expiryDuration ?? ''"
      (valueChange)="onExpiryDurationChange($event)"
    />
    <form-error
      [field]="urlShortenForm.controls.expiryDuration"
      [fieldName]="'expiryDuration'"
      [errorMessages]="{ required: 'Expiry duration is required' }"
    />
  </div>
  <button type="submit">
    <lucide-icon [img]="ZapIcon" [size]="16"></lucide-icon>
    Shorten URL
    <lucide-icon [img]="ArrowRightIcon" [size]="16"></lucide-icon>
  </button>
</form>
