<div class="dropdown-wrapper" #dropdownWrapper (keydown.escape)="dropdownOpen.set(false)">
  <button
    type="button"
    class="dropdown-trigger"
    [class.open]="dropdownOpen()"
    (click)="toggleDropdown()"
  >
    <div class="trigger-content">
      @if (selectedOption().icon) {
        <svg [lucideIcon]="selectedOption().icon ?? null" [size]="16"></svg>
      } @else if (fieldValueDefaultIcon()) {
        <svg [lucideIcon]="fieldValueDefaultIcon() ?? null" [size]="16"></svg>
      }
      <span>{{ selectedOption().label }}</span>
    </div>
    <svg
      [lucideIcon]="ChevronDownIcon"
      [size]="16"
      class="chevron"
      [class.open]="dropdownOpen()"
    ></svg>
  </button>
  @if (dropdownOpen()) {
    <ul
      class="dropdown-panel"
      cdkListbox
      [cdkListboxValue]="[fieldValue()]"
      (cdkListboxValueChange)="onOptionSelect($event)"
    >
      @for (option of items(); track option.value) {
        <li [cdkOption]="option.value" class="dropdown-option">
          @if (option.icon) {
            <svg [lucideIcon]="option.icon" [size]="16"></svg>
          }
          <span>{{ option.label }}</span>
        </li>
      }
    </ul>
  }
</div>
