<div class="app-container">
  <div class="header">
    <h1>Shortenly</h1>
    <div class="tabs">
      @for (tab of appTabs; track tab.route) {
        <a
          [routerLink]="tab.route"
          class="app-tab"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="tab-icon">
            <lucide-icon [img]="tab.icon" [size]="16"></lucide-icon>
          </div>
          <div class="tab-label">
            {{ tab.label }}
          </div>
        </a>
      }
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>Shortenly &copy; {{ currentYear }} - MDevs</p>
  </div>
</div>
